@tailwind base;
@tailwind components;
@tailwind utilities;

.dh-banner {
  @apply border-b bg-text;
  border-color: #323232;
  background-color: #141414;
  color: #F3F0FA;
}

.dh-banner .banner-container {
  @apply mx-auto flex max-w-screen-xl items-center justify-center gap-x-4 px-4 py-4 text-sm md:px-8;
}

.dh-banner .banner-container .content {
  @apply flex sm:items-center;
}

.dh-banner .banner-container .btn {
  @apply inline-flex flex-none items-center justify-center font-medium;
  color: #7b42ff;
}

.dh-banner .banner-container .btn:hover {
  @apply underline;
  color: #9F75FF;
}

.dh-banner .banner-container .btn svg {
  @apply h-5 w-5 duration-200;
}

.dh-banner .banner-container .btn:hover svg {
  transform: translateX(5px);
}
